.carousel{
    background-image: url("images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
   
    
}

.btn1{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
}

.h51{
    color: #FFAE2E;
}

.image{
    position: absolute;
    bottom: -70px;
    left: -100px;
}

.position{
    position: relative;
    bottom: 30px;
}

.card footer{
    border: none;
}

.imgp{
    padding: 40px 20px 0 20px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
}
.card-footer{
    background-color: white;
    border-top: none;
}

.mobile{
    margin-bottom: 70px;
}

.laptop{
    margin-bottom: 100px;
}

.one{
    width:100px;
    height: 5px;
    background-color: goldenrod;
    margin: 0 auto;
    border-radius: 2px;
   
}

.two{
    margin-bottom: 70px;
}

.cat1,.cat2-1,.cat2-2{
    box-shadow: 3px 3px 7px lightgray;
    padding: 30px;
}

.cat2-1{
    margin-bottom: 30px;
}

.cat2-1,.cat2-2{
    border-radius: 15px 5px 30px 5px;
}

.cat1{
    border-radius: 5px 15px 5px 30px;
}